<div>
  <div class="relative bg-white py-16 sm:py-24 lg:py-32">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
      <h2 class="text-base font-semibold tracking-wider text-cyan-600 uppercase">Track Things Better</h2>
      <p class="mt-2 text-5xl font-extrabold text-gray-900 tracking-tight">
        A simple "Track Anything" tool.
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
        You create a new "thing to track" and enter an updated value when appropriate. We store it
        with a timestamp and help you track it over time.
      </p>
      <div class="mx-auto my-8">
        <%= link_to "Sign me Up!", new_user_registration_path, class: "rounded-lg p-6 border border-dashed border-gray-900 font-extrabold tracking-wider text-gray-700 block text-xl w-1/2 mx-auto hover:bg-gray-600 hover:text-gray-200 " %>
      </div>
<!--      <h2 class="text-base text-lg border-b font-semibold tracking-wider uppercase">Check it out!</h2>-->


      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class=" rounded-md w-full border-dotted rotate-1 shadow m-4">
          <%= image_tag "categories.png" %>
        </div>
        <div class=" rounded-md w-full border-dotted -rotate-1 shadow m-4">
          <%= image_tag "items.png" %>
        </div>
        <div class=" rounded-md w-full border-dotted rotate-1 shadow m-4">
          <%= image_tag "new_entry.png" %>
        </div>
        <div class=" rounded-md w-full border-dotted -rotate-2 shadow m-4">
          <%= image_tag "entries.png" %>
        </div>
        <div class=" rounded-md w-full border-dotted rotate-1 shadow m-4">
          <%= image_tag "category_page.png" %>
        </div>
        <div class=" rounded-md w-full border-dotted -rotate-2 shadow m-4">
          <%= image_tag "item_page.png" %>
        </div>
      </div>

      <div class="mx-auto my-8">
        <%= link_to "Sign me Up!", new_user_registration_path, class: "rounded-lg p-6 border border-dashed border-gray-900 font-extrabold tracking-wider text-gray-700 block text-xl w-1/2 mx-auto hover:bg-gray-600 hover:text-gray-200 " %>
      </div>
      <!--      <div class="mt-12">-->
<!--        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">-->
<!--          <div class="pt-6">-->
<!--            <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">-->
<!--              <div class="-mt-6">-->
<!--                <div>-->
<!--                      <span class="inline-flex items-center justify-center p-3 bg-gradient-to-r from-teal-500 to-cyan-600 rounded-md shadow-lg">-->
                        <!-- Heroicon name: outline/cloud-upload -->
<!--                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">-->
<!--                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"/>-->
<!--                        </svg>-->
<!--                      </span>-->
<!--                </div>-->
<!--                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Push to Deploy</h3>-->
<!--                <p class="mt-5 text-base text-gray-500">-->
<!--                  Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi vitae lobortis.-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
