<div id="<%= dom_id category %>">
  <%= link_to category do %>
    <div class="flex items-center w-full justify-between">
      <div>
        <p class="font-bold tracking-wide">
          <%= category.name %>
        </p>
        <div>
          <%= pluralize(category.items.count, 'item') %>
          <%= pluralize(category.entries.count, 'entry') %>
        </div>
      </div>
      <div>></div>
    </div>
  <% end %>

</div>
