<div class="mx-auto w-full flex">
  <div class="mx-auto w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render 'layouts/navbar', title: 'Categories' %>
    <div id="categories" class="w-full my-3">
      <% unless @categories.present? %>
        <%= link_to 'Create your first Category!', new_category_path, class: "rounded-lg p-24 text-center font-semibold border-dashed border border-black text-gray-600 block font-large md:text-md hover:bg-gray-600 hover:text-gray-200 m-4" %>
      <% end %>
      <% @categories.each do |category| %>
        <%= link_to category do %>
          <%= render category %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
