<div class="mx-auto w-full flex">
  <div class="mx-auto w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex w-full justify-between p-4 pt-0 rounded">
      <%= link_to categories_path do %>
        <div class="font-medium text-lg flex">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M15 19l-7-7 7-7"/>
          </svg>
        </div>
      <% end %>
      <h1 class="font-semibold text-xl">Category</h1>
      <%= link_to edit_category_path(@category) do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
        </svg>
      <% end %>
    </div>
    <div id="<%= dom_id @category %>">
      <div class="w-full text-center grid gap-1">
        <div class="font-bold mx-auto text-xl md:text-3xl p-4 w-auto rounded-md bg-gray-500/80 text-gray-50 text-center"><%= @category.total %></div>
        <p class="font-bold tracking-wide font-bold text-lg md:text-3xl mt-1">
          <%= @category.name %>
        </p>
        <div class="text-gray-600 text-sm">
          <%= pluralize(@category.items.count, 'item') %>,
          <%= pluralize(@category.entries.count, 'entries') %>
        </div>
      </div>
      <div>
        <div class="p-2 mx-2 border-dotted border rounded-lg  bg-gray-100/80 my-8">
          <h3 class=" mx-auto text-center text-gray-600 font-bold">All Entries</h3>
          <%= line_chart @category.items.map { |item|
            { name: item.name, data: Entry.totals_by_group(item.entries, :group_by_week) }
          }, download: true %>
        </div>

        <div class="p-2 mx-2 border-dotted border rounded-lg bg-gray-100/80 my-8">
          <h3 class=" mx-auto text-center text-gray-600 font-bold">Entries Per Week</h3>
          <%= column_chart Entry.totals_by_group(@category.entries, :group_by_week, range: 1.year.ago..Time.now, series: true) %>
        </div>

        <div class="p-2 mx-2 border-dotted border rounded-lg bg-gray-100/80 my-8">
          <h3 class=" mx-auto text-center text-gray-600 font-bold">Total Per Item</h3>
          <%= pie_chart @category.total_per_item, donut: true %>
        </div>

      </div>

      <div class="p-2 mt-4 my-2">
        <h1 class="w-full font-extrabold px-5 bg-gray-500/80 text-gray-100 rounded">Items</h1>
        <div class="w-full grid grid-cols-3">
          <% @category.items.each do |item| %>
            <%= link_to item do %>
              <%= render 'items/item_embed', item: item %>
            <% end %>
          <% end %>
          <%= link_to 'New Item', new_item_path, class: "rounded-lg p-2 m-3 border-dashed border text-gray-400 block font-large text-xs md:text-md" %>
        </div>
      </div>

      <div class="p-2 mt-4 my-2">
        <h1 class="w-full font-extrabold px-5 bg-gray-500/80 text-gray-100 rounded">Entries</h1>
        <div class="w-full grid grid-cols-3">
          <% @category.entries.each do |entry| %>
            <%= link_to entry do %>
              <%= render 'entries/entry_embed', entry: entry %>
            <% end %>
          <% end %>
          <%= link_to 'New Entry', new_entry_path, class: "rounded-lg p-2 m-3 border-dashed border text-gray-400 block font-large text-xs md:text-md" %>
        </div>
      </div>

    </div>
  </div>
</div>
